/* EDICION TIPOGRAFICA*/
.nav-item{
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.dropdown-menu{
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 20px;

}
.step-text{
	font-size: 25px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  text-align:"center";
  }
  .step-text{
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    text-align:"center";
    
  }
  .sec_down {
    font-size: 55px;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-align:"center"; 
  }
  .mensaje-uns{

  
    /*
    margin-left: 100px;
    margin-right: auto;*/
    margin: 0px 5px ;
    text-align:"center";
    color: white;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 200;
  
  }

  .footer-copyright{

    font-family: 'Teko', sans-serif;
  }

  h1#pregunta1{
    margin: 0px 5px ;
  text-align:"center";
	color: white;
	font-size: 55px;
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  }
  h1{

    font-family: 'Teko', sans-serif;
  }
  .col-md-3{
    font-size: 40 px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
  }
  .col-md-6{
    font-size: 25 px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
   }
   .logros a{
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    
  }
  h5{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
  }

  #navbarSupportedContent{
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
  }
/* FIN EDICION TIPOGRAFICA*/
  .nav-link{
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;
}

.nav-link:hover, .nav-link:focus {
    background-size: 100% 4px;
}
.sps--abv{
	background-color: transparent;
	color: white;
}
.sps--blw{
	background-color: rgb(27, 27, 27);
	color: white;
}
.lista{
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 0px 5px;
}
.lista:hover{
  color: white;
}
body{
	background-color: white;
	font-family: Agency FB;
}
.section1{
	background-color: rgb(56, 56, 56);
	}
.verticalLine {
       width:4px;
       height: 15px;
       background-color:#fff;
       position:absolute;
       left:50%;
       margin: 10px 0px;
}
.verticalLine1 {
       width:4px;
       height: 15px;
       background-color:#000;
       position:absolute;
       left:50%;

       margin: 10px 0px;
}

/* mensaje de portada*/
h1{
	color: white;
	 font-size: 75px;
	font-weight: bold;
}
.mensaje-uns{
	color: white;
	font-size: 24px;
} 

.logros a{
  display:block;
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
   border: white 2px solid;
  width:200px;
  padding:20px; 
  text-align:center;
  color:white;
  font-size: 20px;
  font-weight:bold;
  text-decoration:none;
  margin:auto;
}
.logros a:hover{
   color:black;
   background-color:white;
   width: 200px;
}
.logro {
	border-radius: 20px;
    border: white 2px solid;
    margin-left: 0px;
    margin-bottom:15px; 
    
width: auto;
height: 95%;
}
.logro:hover{
  border: white 4px solid;
}

.imagen-presentacion{
	width: 50%;
  
	margin: 6px 6px;
  
}
h5{
	color: white;
}

.fw-theme-steps{
	background-color: white;
	}
/*.fw-theme-step-wrap{
	counter-reset: number;
}*/
.fw-theme-step-wrap{
	padding: 10px 0px;
}
/*
h2:before {
    content:  counter(number,decimal-leading-zero);
    counter-increment: number;
    width: 100%;
    font-size: 200px;
    font-weight: bold;
    text-align: left;
    color: #ff497c;
    	z-index:0;
}
 h2{
	text-align: right;
	font-size: 48px;
	z-index:1;
    
}*/

.fw-theme-step-wrap .fw-step-left-part {
    text-align: center;
    max-width: 400px;
}
.fw-theme-steps .fw-theme-step-wrap:nth-child(odd) .step-title {
    text-align: right;
}
.forma{
	border-radius: 100%;
    border:gray 7px solid;
}

.forma:hover{
	border:#D81515 7px solid;
}

.fw-theme-steps .fw-theme-step-wrap {
  display: block;
  width: auto;
  text-align: center;
  margin: 30px 50px;
}
.fw-theme-steps .fw-theme-step-wrap > * {
  position: relative;
  display: block;
  width: auto;
  margin: 0 auto;
}
.fw-theme-steps .fw-theme-step-wrap .fw-step-left-part {
  text-align: center;
  max-width: 400px;
}
.fw-theme-steps .fw-theme-step-wrap .fw-step-left-part .step-title {
  width: 100%;
}
.fw-theme-steps .fw-theme-step-wrap .fw-step-right-part {
  margin-top: 20px;
  max-width: 400px;
}
.ds .fw-theme-steps .fw-theme-step-wrap .fw-step-right-part {
  color: rgba(255, 255, 255, 0.7);
}
.fw-theme-steps .fw-theme-step-wrap .fw-step-center-part img {
  max-width: 270px;
}
.fw-theme-steps .fw-theme-step-wrap:nth-child(odd) .step-title {
  text-align: right;
}
.fw-theme-steps .fw-theme-step-wrap:nth-child(odd) .step-title:before {
  text-align: left;
  left: 0;
}
.fw-theme-steps .fw-theme-step-wrap:nth-child(even) .step-title {
  text-align: left;
}
.fw-theme-steps .fw-theme-step-wrap:nth-child(even) .step-title:before {
  text-align: right;
  right: 0;
}

/* Responsive */
@media (min-width: 992px) {
  #box_wrapper .step-title {
    margin-bottom: 0;
  }
  #box_wrapper .step-title:before {
    top: -73px;
    width: 100%;
    font-size: 200px;
  }
  .fw-theme-steps .fw-theme-step-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fw-theme-steps .fw-theme-step-wrap .fw-step-right-part {
    margin-top: 0;
    text-align: left;
    max-width: 100%;
  }
  .fw-theme-steps .fw-theme-step-wrap .fw-step-center-part {
    position: relative;
  }
  .fw-theme-steps .fw-theme-step-wrap .fw-step-center-part:after {
    content: '';
    background-image: url(../img/right_arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 34px;
    height: 136px;
    z-index: 4;
    bottom: -100px;
    right: 20px;
  }
  .ls .fw-theme-steps .fw-theme-step-wrap .fw-step-center-part:after {
    background-image: url(../img/right_arrow_dark.png);
  }
  .fw-theme-steps .fw-theme-step-wrap:nth-child(even) {
    flex-direction: row-reverse;
  }
  .fw-theme-steps .fw-theme-step-wrap:nth-child(even) .fw-step-center-part:after {
    background-image: url(../img/left_arrow.png);
    right: auto;
    left: 20px;
  }
  .ls .fw-theme-steps .fw-theme-step-wrap:nth-child(even) .fw-step-center-part:after {
    background-image: url(../img/left_arrow_dark.png);
  }
  .fw-theme-steps .fw-theme-step-wrap:nth-child(even) .fw-step-right-part {
    text-align: right;
  }
  .fw-theme-steps .fw-theme-step-wrap:last-child .fw-step-center-part:after {
    display: none;
  }
  .fw-theme-steps .fw-theme-step-wrap > * {
    flex-basis: 33.3%;
  }
}
@media (min-width: 1200px) {
  .fw-theme-steps .fw-theme-step-wrap .fw-step-center-part:after {
    right: 40px;
  }
  .fw-theme-steps .fw-theme-step-wrap:nth-child(even) .fw-step-center-part:after {
    left: 40px;
  }
/********** Estilo seccion noticia **********/
/*  -------------------
-ESTILOS DE MATERIALIZE-
-----------------------*/


main .banner-video{
	background: url("../images/ejecutivo.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.9;
filter:alpha(opacity=40); 
}


.video{
  margin-top: -100px;
  margin-left: 20px;
  width: 760px;
  height: 500px;
}
.elementor-headline  svg path {
    stroke: red;
    stroke-width:2;
    fill: none;
    stroke-dasharray: 1500;

  }
 section .titulo{
  margin-top: 50px;
 }
 
 .info h2{
  color: white;text-align: left;
 }
 .info p{
  margin: 1px 0px;
  margin-left: 5px;
  font-size: 20px;
  color: white;text-align: left;
 }
 /*@media only screen and (min-width: 991px){
    .navbar .menu2 {
     margin-top:31.5%;
     position: absolute;
     z-index:1;
     margin-left:10%; 
     background-color: black;
  
 }
}*/


 .fin-directorio{
text-align: left;

}
 .social-icono {
  margin-top: 20px;
 }
 .social-icono a img{
  width: 45px;
  height: 45px;
 }

